@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our website where you can enjoy shopping stuff online</p>
<p>
    You do your shopping in the Robert Heijn stores with the help of the Robert Heijn web app.
</p>
<p>
    If you have any questions about this privacy policy, please contact us at +31645426765! 
</p>